

.btn-radius-border {
  border-radius: 40px;
}

.btn.black-button-style {
  background: #232323;
  color: $yellow;

  &:hover {
    background: $yellow;
    color: #232323;
  }
}

.btn.button-black-white {
  background: #212121;
  color: white;

  &:hover {
    color: #212121;
    background: rgba(0, 0, 0, .4);
  }
}

.btn {
  &.btn-default{
    border: 1px solid #ddd;
  }
  i {
    margin-right: 7px;
    vertical-align: middle;
  }

  $brand-success: #232323;
  $loader-size: 18px;
  $check-height: $loader-size/2;
  $check-width: $check-height/2;
  $check-left: ($loader-size/6 + $loader-size/18);
  $check-thickness: 2px;
  $check-color: $brand-success;

  .circle-loader {
    //margin-bottom: $loader-size/2;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-color: $check-color;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    //display: inline-block;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
    vertical-align: middle;
    margin-bottom: 0px;
    margin-right: 7px;
  }

  .load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: $check-color;
    transition: border 500ms ease-out;
  }

  .checkmark {
    display: none;

    &.draw:after {
      animation-duration: 800ms;
      animation-timing-function: ease;
      animation-name: checkmark;
      transform: scaleX(-1) rotate(135deg);
    }

    &:after {
      opacity: 1;
      height: $check-height;
      width: $check-width;
      transform-origin: left top;
      border-right: $check-thickness solid $check-color;
      border-top: $check-thickness solid $check-color;
      content: '';
      left: $check-left;
      top: $check-height;
      position: absolute;
    }
  }

  @keyframes loader-spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }

    20% {
      height: 0;
      width: $check-width;
      opacity: 1;
    }

    40% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }

    100% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
  }
}

.black-button-style {
  $check-color: $yellow;
  $check-thickness: 2px;

  .circle-loader {
    border-left-color: $check-color;
  }

  .load-complete {
    border-color: $check-color;
  }

  .checkmark {
    display: none;

    &.draw:after {
      &:after {
        border-right: $check-thickness solid $check-color;
        border-top: $check-thickness solid $check-color;
      }
    }
  }
}
